@model IEnumerable<Softst.Models.Student>


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert-info " style="display:inline-block"> Student Detail</h1>

@foreach(var item in Model)
{
    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                 StudentId
            </dt>
            <dd class="col-sm-10">
                @item.StudentId
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @item.Name
            </dd>
            <dt class="col-sm-2">
              Email
            </dt>
            <dd class="col-sm-10">
               @item.Email
            </dd>
            <dt class="col-sm-2">
               FathersName
            </dt>
            <dd class="col-sm-10">
                @item.FathersName
            </dd>
            <dt class="col-sm-2">
              Address
            </dt>
            <dd class="col-sm-10">
                 @item.Address
            </dd>
            <dt class="col-sm-2">
                 DOB
            </dt>
            <dd class="col-sm-10">
                @item.DOB
            </dd>
            <dt class="col-sm-2">
                AdhaarNo
            </dt>
            <dd class="col-sm-10">
               @item.AdhaarNo
            </dd>
            <dt class="col-sm-2">
               DateOfRegister
            </dt>
            <dd class="col-sm-10">
                @item.DateOfRegister
            </dd>
            <dt class="col-sm-2">
                CourseName
            </dt>
            <dd class="col-sm-10">
                @item.Course.CourseName
            </dd>

        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = @item.StudentId }) |
        <a asp-action="StudentsDetails">Back to List</a>
    </div>

}