@model IEnumerable<Softst.Models.Student>

@{
    ViewData["Title"] = "StudentsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert-info" style="display:inline-block">Students List</h2>

<p>
    <a asp-action="StudentRegister">Register New Student</a>
</p>

@foreach (var item in Model) {
                <div class="card" style="width: 18rem; display:inline-block;background-color:burlywood" >
                <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/ohsXtgy8Hmi9PzDNpKhJ5N.jpg" alt="Card image cap">
                    <div class="card-body">   
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item " style="background-color:burlywood">@item.StudentId</li>
                        <li class="list-group-item " style="background-color:burlywood">@item.Name</li>
                        <li class="list-group-item " style="background-color:burlywood">@item.FathersName</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn alert-info"> @Html.ActionLink("Edit", "Edit", new { id = item.StudentId })</button>
                        <button class="btn btn alert-info"> @Html.ActionLink("Details", "Details", new { id = item.StudentId })</button>
                        <button class="btn btn-danger">@Html.ActionLink("Delete", "DeleteStudent", new { id = item.StudentId })</button>
                    </div>
                </div> 
}
   

